.Rproj.user
.Rhistory
.RData
.Ruserdata
*
!*/
!*/1.HPC.clean.data.R
!*/2.HPC.spatial.ops.R
!*/3.local.analysis.R
!*/spec.per.elect.carto.R
!*/spec.per.elect.endemic.eighty.choro.R
!*/spec.per.elect.regression.R
!*/spec.range.elect.histo.ecdf.R