.Rproj.user
.Rhistory
.RData
.Ruserdata
/raw_data
/analysed_data
/writing/word
/electoral_analysis_ArcGIS_proj
/figures
/tables
/presos
/.vscode
/**/*.e*
/**/*.o*
/**/*.docx
!/writing/latex/**/*.tex
/**/*.bib
